[submodule "examples/data-serving"]
	path = examples/data-serving
	url = https://github.com/itkoren/Lets-Node-exp-data-serving.git
[submodule "examples/long-running"]
	path = examples/long-running
	url = https://github.com/itkoren/Lets-Node-exp-long-running.git
